<%= javascript_include_tag 'requests' %>

<% mode = 1 if mode == nil %>
<% @s_type = mode %>
<%= form_for new_request, class: 'card', remote: true  do |f| %>
	<%= render partial: 'partials/form_errors', locals: { model: new_request } %>
  <% if mode == 1 %> 
    <a class="boxclose"></a>
  <% end  %>
  <h5 class="card-header text-center py-4">
    <%= mode != 1 ? 'Записаться на консультацию' : 'Заказать звонок' %>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <%= f.hidden_field :service_id, value: mode %>

    <div class="md-form mt-2">   
     	<%= f.text_field :name, class: 'form-control', required: true, placeholder: true %>
    </div>

  	<div class="md-form">
   	 	<%= f.telephone_field :phone, class: 'form-control phone', placeholder: true, required: true %>
    </div>

    <div class='md-form', style="display:<%= mode != 1? 'all' : 'none' %>" >Дата и время:
      <%= f.datetime_select :preferedTime, class: 'form-control', placeholder: true %>
      <div class="error-box"></div>
    </div>

  	<div class="md-form">
   	 	<%= f.text_area :text, size: "60x2", class: 'form-control', id: 'requestText', placeholder: true %>
    </div>

      <%= f.submit mode != 1 ? 'Записаться' : 'Перезовнить мне' , id: mode != 1 ? 'submit-request' : 'submit-request-fast', class: 'btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0' %>
  </div>
<% end %>