<div class="table-responsive container">
	<table class='table table-hover'>
		<caption>Заявки</caption>
		<% @requests.reverse_each do |req| %>
		<tr class='active'>
			<td class='active'><%= req.id %></td>
			<td><%= req.name %></td>
			<td><%= req.phone %></td>
			<td><%= req.created_at.to_formatted_s(:short)  %></td>
			<td><%= buttonOrOk%></td>
			<td><%= req.text %></td>
		</tr>
		<% end %>
	</table>
</div>